* {
  box-sizing: border-box;
}

:root {
  --darkgreen: rgb(42, 136, 95);
  --darkgreen-transparent: rgba(42, 136, 95, 0.8);
  --background: rgb(87, 204, 153);
  --lightgreen: rgb(199, 249, 204);
  --lightgreen-transparent: rgba(199, 249, 204, 0.7);
  --lightgreen-ultra-transparent: rgba(199, 249, 204, 0.3);
  --title: rgba(136, 235, 192, 0.4);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 3rem;
  color: var(--lightgreen);
}
img {
  width: 1.2rem;
}

button {
  padding: 1.2rem 1.5rem;
  background-color: rgba(199, 249, 204, 0.8);
  border: none;
  border-radius: 0.4rem;
  color: var(--darkgreen);
  font-weight: bold;
  font-size: 1.3rem;
}

button:hover {
  background-color: rgba(199, 249, 204, 1);
}

textarea {
  border-radius: 0.4rem;
  width: 15rem;
  border: none;
  background-color: rgba(199, 249, 204, 1);
}

input, select {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: none;
  opacity: 0.7;
  color: var(--darkgreen);
  font-weight: bold;
}

select{
background-color: var(--lightgreen-transparent);
}

form {
  display: flex;
  flex-direction: column;
}

.parts {
  margin-top: 0.5rem;
  height: 20rem;
  overflow-y: auto;
}

.error {
  color: rgb(255, 85, 85);
  margin: 0 0 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  background-color: #57cc99;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.title {
  width: 20rem;
  margin: 1rem 0 0.2rem;
  padding: 0.6rem;
  background-color: var(--darkgreen-transparent);
  border-radius: 0.3rem;
  color: var(--lightgreen);
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.part {
  padding-bottom: 0.5rem;
  background-color: var(--lightgreen-ultra-transparent);
  border-radius: 0.4rem;
}

.add-workout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}

.add-workout__title {
  font-size: 2rem;
  color: rgba(255, 250, 250, 0.9);
  margin:0;
}

.input-area {
  display: flex;
  align-items: center;
  margin: 0.5rem 1rem;
}

.label {
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  margin-right: 0.3rem;
}

.time-input {
  width: 3.5rem;
  margin: 0 0.4rem;
  font-size: 0.8rem;
  background-color: rgba(177, 247, 198, 0.8);
}

.time-input::placeholder {
  color: rgba(27, 131, 108, 0.7);
}

.distance-input {
  width: 4rem;
  background-color: rgba(177, 247, 198, 0.8);
}

.distance-input::placeholder {
  color: rgba(27, 131, 108, 0.7);
}

.discipline {
  padding: 0.5rem;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  text-align: center;
  color: var(--darkgreen-transparent);
  font-weight: bold;
  background-color: var(--lightgreen-transparent);
}

.hidden {
  display: none;
}

.workout-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  padding: 0.6rem;
  background-color: var(--title);
  margin-top: 0.2rem;
  border-radius: 0.3rem;
  color: snow;
  font-size: 1.5rem;
  font-weight: bold;
}

.workout-title__edit {
  margin: 0 1rem;
  text-decoration: none;
  color: snow;
}

.workout-title__date {
  margin: 0;
  padding: 0;
}

.workout-title__remove {
  margin: 0 1rem;
  font-weight: bolder;
}

.add-part {
  display: flex;
  height: 2rem;
}

.add-part__button {
  padding: 0.3rem 0.7rem;
}

.logo {
  width: 7rem;
  opacity: 0.7;
  text-align: left;
  margin: 0;
}

.logo.min {
  width: 3rem;
}

.unit {
  color: snow;
  font-weight: bold;
  margin-left: 0.5rem;
}

.submit-button {
  background-color: snow;
  align-self: center;
  justify-self: center;
  margin: auto;

}

::-webkit-scrollbar {
  width: 10px;
  margin: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--lightgreen-transparent);
  border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--darkgreen-transparent);
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--darkgreen);
}